{% extends 'base.html' %}

{% block style %}
  <link href="/static/project.css" rel="stylesheet"></link>
{% endblock %}

{% block script %}
  <script src="/static/project.js"></script>
{% endblock %}

{% block content %}
  <div class="container">
    <div class="section" id="development">
      <div>
        <div id="serious" style="width: 600px;height:400px;"></div>
        <div id="status" style="width: 600px;height:400px;"></div>
        <div id="tester" style="width: 600px;height:400px;"></div>
        <div id="developer" style="width: 600px;height:400px;"></div>
        <div id="department" style="width: 600px;height:400px;"></div>
      </div>
      <div class="sonar">
        aaaaa
      </div>
    </div>
    <div class="section" id="release">
    </div>
    <div class="section" id="test">
    </div>
  </div>
{% endblock %}
